.chatright a {
    color: blue;
    text-decoration: underline;
}

.ck.ck-toolbar.ck-toolbar_grouping>.ck-toolbar__items {
    flex-wrap: nowrap;
    max-height: 20px;
}
#fileInput {
    display: none;
}

#chatContainer li.selected {
    background: rgba(14, 210, 210, 0.615);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  #burger-button {
    z-index: 9999;
  }